/* ==========================
   PREMIUM EFFECTS
========================== */

/* Smooth animation */

section{
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Premium card hover */

.card{
    overflow:hidden;
    position:relative;
}

.card::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:rgba(255,215,0,.15);
    transition:.5s;
}

.card:hover::before{
    left:100%;
}

/* Better button */

.hero button{
    box-shadow:0 8px 20px rgba(255,215,0,.5);
}

.hero button:hover{
    transform:translateY(-5px);
}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#eee;
}

::-webkit-scrollbar-thumb{
    background:gold;
    border-radius:20px;
}

/* Card title */

.card h3{
    color:#222;
    font-size:24px;
}

.card p{
    font-size:17px;
}

/* Footer */

footer{
    letter-spacing:1px;
}
