.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:25px;
}

.hero button{
    padding:15px 35px;
    font-size:18px;
    background:gold;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
